component
<br>
<br>
<app-hello *ngIf="user.age >= 18" [name]="user.name">Cách 1</app-hello>
<!-- truyền binding data [name] cho component con sử dụng và hiển thị -->
<br>
<br>
  <div *ngIf="user.age < 18">
    you are too young to see this content
  </div>

<!-- cách 1 -->
<app-hello *ngIf="user.age >= 18;else under18" [name]="user.name">cách 2</app-hello>
<br>
<br>
<ng-template #under18>
  <div>
    you are too young to see this content
  </div>
</ng-template>

<!-- cách 2 -->

<app-hello [hidden]="user.age < 18" [name]="user.name">cách 3</app-hello>

<!-- cách 3 sử dụng hidden tuy nhiên component sẽ không bị desroy như ng if  -->
<br>
<br>
<button (click)="user.age = user.age - 1">-</button>
Age: {{ user.age }}
<button (click)="user.age = user.age + 1">+</button>
<!-- <app-twowaybexam></app-twowaybexam> -->
